<div id="mysidebardiv">
  <div id="mydivSidebarheader" style="float: left">
    Click to move
    <div class="">
      <p-button (click)="op.toggle($event)">Announcement</p-button>
    </div>
    <br />
    <div><p-button (click)="op1.toggle($event)">Notification</p-button></div>

    <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '450px' }">
      <app-announcement></app-announcement> </p-overlayPanel
    ><p-overlayPanel #op1 [showCloseIcon]="true" [style]="{ width: '450px' }">
      <app-announcement></app-announcement>
    </p-overlayPanel>
  </div>
</div>
