<div id="mysidebardiv">
  <div id="mydivSidebarheader" style="float: left">
    Click to move
    <div class="">
      <button
        pButton
        type="button"
        icon="pi pi-bell"
        class="p-button-rounded p-button-warning"
        (click)="op.toggle($event)"
      ></button>
    </div>
    <br />
    <!-- <div>
      <button
        pButton
        type="button"
        icon="pi pi-bell"
        class="p-button-rounded p-button-warning"
        (click)="op1.toggle($event)"
      ></button>
    </div> -->

    <p-overlayPanel #op [showCloseIcon]="true" [style]="{ width: '450px' }">
      <app-announcement></app-announcement> </p-overlayPanel
    ><p-overlayPanel #op1 [showCloseIcon]="true" [style]="{ width: '450px' }">
      <app-announcement></app-announcement>
    </p-overlayPanel>
  </div>
</div>
